services:
  hugo:
    build: .
    image: cicd-sig-cybersecurity-hugo-dev
    volumes:
      - .:/site
    ports:
      - "1313:1313"
    command: ["hugo", "serve", "--bind", "0.0.0.0", "--baseURL", "http://localhost"]
