.navbar-brand__logo.navbar-logo > svg {
  height: 40px;
}

.td-sidebar-toc {
  position: relative;
  top: 7em;
}

.td-content {
  margin-top: 64px;
}

.td-block-padding {
  padding-top: 64px;
  padding-bottom: 64px;
}

.td-content p, .td-content li, .td-content td {
  margin: 0;
}

.td-box--orange {
  color: #242325;
}

.td-footer {
  align-items: center;
  justify-content: center;
  padding: 0;
}

@media (max-width: 767px) {
  nav.td-navbar {
    flex-direction: column;
    height: 100px;
  }

  .td-navbar .navbar-nav {
    flex-direction: row;
    padding: 0;
  }

  .td-content {
    margin-top: 0;
  }

  .td-block-padding, .td-default main section {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
